.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: aqua;
  

  &Title {
    font-weight: bold;
    color: #000000;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
}